#logo {
  margin-left: 459px;
  margin-top: 300px;
  height: 150px;
  width: 500px;
  opacity: 0;
  color: black;


}



h3 {
  font-family: 'Special Elite', cursive;
  color: black;
  text-decoration: none;

}

#shopping{
  opacity: 0;
}

a{
  font-family: 'Special Elite', cursive;
  color: black;
  text-decoration: none;
  font-size: 50px;
}

.navi {
  opacity: 0;

}

#shop{
  margin-top: 30px;
}

#anchor:hover {
  color: black;
}

#ig {
  margin-top: 30px;
  margin-left: 640px;
  font-family: 'Merriweather', serif;
  opacity: 0;

}

#email {
  margin-left: 590px;
  font-family: 'Merriweather', serif;
  opacity: 0;
}

#bio {
  margin-left: 420px;
  font-family: 'Staatliches', cursive;
  opacity: 0;


}


#work {
  font-family: 'Special Elite', cursive;
  color: black;
  font-size: 50px;
  opacity: 0;
  margin-bottom: 100px;
}

#world {
  height: 500px;
  width: 590px;
  margin-left: 420px;
  opacity: 0;
}

#corner {
  height: 150px;
  width: 150px;
  margin-left: 1288px;
}

ul {
  height: 420px;
  width: 60%;
  opacity: 0;
}

 ul {
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 400px;
  opacity: 0;
}




/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}

/*--------- Mobile Compatible ----------------- */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /*CSS*/

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}